@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --rt-opacity: 1;
}

.react-tooltip__tooltip_KtSkBq {
  padding: 10px 12px;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.hide-overflow {
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .otp-input-container > div div:nth-of-type(3) {
    margin-right: 15px;
  }

  .otp-input-container > div div:nth-of-type(3) > input {
    margin-right: 0;
  }

  .otp-input-container > div div:nth-of-type(4) {
    margin-left: 15px;
  }
}

.token-modal-wallet-search,
.shadowed {
  box-shadow: 0px 0px 4px rgba(120, 117, 117, 0.1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.path-primary path {
  fill: #72bf65;
}

.path-white path {
  fill: #fff;
}

.profile-dropdown,
.mobile-navigator-dropdown {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}

.profile-dropdown.active {
  top: 65px;
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 1024px) {
  .profile-dropdown.active {
    top: 55px;
  }
}

.mobile-navigator-dropdown.active {
  bottom: -244px;
  opacity: 1;
  pointer-events: all;
}

.converter-currency-select.active,
.currency-select.active {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}

.active-link svg > path {
  fill: white !important;
}

.inactive-link svg > path {
  fill: rgba(255, 255, 255, 0.4);
}

.go2072408551 {
  background: #e6f5ed !important;
  padding: 0 !important;
}

.pinnedToken > img,
.pinnedToken > div:first-child,
.converter-side > img,
.converter-side > div:first-child {
  height: 24px !important;
  width: 24px !important;
}

.pinnedToken > div:first-child span,
.converter-side > div:first-child span {
  font-size: 10px !important;
}
.converter-currency-select {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(36px);
}

/* calendary styles */
.react-calendar__tile--active {
  background-color: #72bf65 !important;
}
/* end calendary styles */
